<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="webjars/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/styles.css">

<script src="js/grades.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Passage de grade</title>
</head>
<body>

<div class="container text-center" style="margin-bottom: 100px;">
    <h1>Passage de grades</h1>
    <br/><br/>
    <div sec:authorize="hasAnyAuthority('NOUVEAU','ANCIEN')">
        <br/><br/>
        <p> Vous n'avez pas la permission d'accéder à cette page. </p>
    </div>

    <input type="hidden" id="idConnectedUsername" th:value="${connectedUser.getUsername()}"/>

    <div sec:authorize="hasAnyAuthority('SENSEI','VENERABLE')">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Liste des membres admissibles</h2></div>
            <div class="panel-body">
                <table class="table" style="width: 100%" id="tabAdmissible">
                    <thead class="">
                        <tr>
                            <th scope="col"><h2>Avatar</h2></th>
                            <th scope="col"><h2>Courriel</h2></th>
                            <th scope="col"><h2>Alias</h2></th>
                            <th scope="col"><h2>Ceinture</h2></th>
                            <th scope="col"><h2>Points</h2></th>
                            <th scope="col"><h2>Crédits</h2></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="compteAdmissible : ${admissibles}" style="height:100px;" th:id="${compteAdmissible.getUsername()}"
                        th:if="${compteAdmissible.getGroupe().getId() < 7 && !compteAdmissible.isHonte() && !compteAdmissible.getUsername().equals(connectedUser.getUsername())}" class="admissible">
                        <td style="padding-right: 15px"><img th:src="${compteAdmissible.getAvatar().getAvatar()}" style="width: 60px;height: 60px;"></td>
                        <td><h3 th:text="${compteAdmissible.getUsername()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.getFullname()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.getGroupe().getGroupe()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.calculPoints()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.calculCredits()}"></h3></td>
                        <td><button class="btn btn-primary passeBtn" th:value="${compteAdmissible.getUsername()}" onclick="passer(this)">Passer</button></td>
                        <td><button class="btn btn-danger passeBtn"  th:value="${compteAdmissible.getUsername()}" onclick="couler(this)">Couler</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Liste des membres dans la honte</h2></div>
            <div class="panel-body">
                <table class="table" style="width: 100%" id="tabHonte">
                    <thead class="">
                    <tr>
                        <th scope="col"><h2>Avatar</h2></th>
                        <th scope="col"><h2>Courriel</h2></th>
                        <th scope="col"><h2>Alias</h2></th>
                        <th scope="col"><h2>Ceinture</h2></th>
                        <th scope="col"><h2>Points</h2></th>
                        <th scope="col"><h2>Crédits</h2></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="compteAdmissible : ${hontes}" style="height:100px;" th:id="${compteAdmissible.getUsername()}"
                        th:if="${compteAdmissible.getGroupe().getId() < 7 && compteAdmissible.isHonte() && !compteAdmissible.getUsername().equals(connectedUser.getUsername())}" class="enHonte">
                        <td style="padding-right: 15px"><img th:src="${compteAdmissible.getAvatar().getAvatar()}" style="width: 60px;height: 60px;"></td>
                        <td><h3 th:text="${compteAdmissible.getUsername()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.getFullname()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.getGroupe().getGroupe()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.calculPoints()}"></h3></td>
                        <td><h3 th:text="${compteAdmissible.calculCredits()}"></h3></td>
                        <td><button class="btn btn-primary passeBtn" th:value="${compteAdmissible.getUsername()}" onclick="passer(this)">Passer</button></td>
                        <td><button class="btn btn-danger passeBtn"  th:value="${compteAdmissible.getUsername()}" onclick="couler(this)">Couler</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
<!--
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Liste des proche au rôle ancien</h2></div>
            <div class="panel-body">
                <table class="table" style="width: 100%" id="tabAnciens">
                    <thead class="">
                    <tr>
                        <th scope="col"><h2>Avatar</h2></th>
                        <th scope="col"><h2>Courriel</h2></th>
                        <th scope="col"><h2>Alias</h2></th>
                        <th scope="col"><h2>Ceinture</h2></th>
                        <th scope="col"><h2>NbCombats</h2></th>
                        <th scope="col"><h2>Crédits</h2></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i: ${#numbers.sequence(0,nouveaux.size()-1)}" style="height:100px;" th:id="${nouveaux.get(i).getCourriel()}"
                        class="">
                        <td style="padding-right: 15px"><img th:src="${nouveaux.get(i).getAvatar().getAvatar()}" style="width: 60px;height: 60px;"></td>
                        <td><h3 th:text="${nouveaux.get(i).getCourriel()}"></h3></td>
                        <td><h3 th:text="${nouveaux.get(i).getAlias()}"></h3></td>
                        <td><h3 th:text="${nouveaux.get(i).getGroupe().getNomGroupe()}"></h3></td>
                        <td><h3 th:text="${nbCombatNouveaux.get(i)}"></h3></td>
                        <td><h3 th:text="${nouveaux.get(i).getCredits()}"></h3></td>
                        <td><button class="btn btn-primary" th:value="${nouveaux.get(i).getCourriel()}"
                                    th:if="${nbCombatNouveaux.get(i) >= 30}" onclick="transferrer(this)">Transferrer</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div sec:authorize="hasAuthority('VENERABLE')">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Liste de ceux qui peuvent devenir sensei</h2></div>
                <div class="panel-body">
                    <table class="table" style="width: 100%" id="tabSensei">
                        <thead class="">
                        <tr>
                            <th scope="col"><h2>Avatar</h2></th>
                            <th scope="col"><h2>Courriel</h2></th>
                            <th scope="col"><h2>Alias</h2></th>
                            <th scope="col"><h2>Ceinture</h2></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ancien : ${anciens}" style="height:100px;" th:id="${ancien.getCourriel()}"
                            class="">
                            <td style="padding-right: 15px"><img th:src="${ancien.getAvatar().getAvatar()}" style="width: 60px;height: 60px;"></td>
                            <td><h3 th:text="${ancien.getCourriel()}"></h3></td>
                            <td><h3 th:text="${ancien.getAlias()}"></h3></td>
                            <td><h3 th:text="${ancien.getGroupe().getNomGroupe()}"></h3></td>
                            <td>
                                <label>
                                    <input id="toggle-sensei"
                                           class=""
                                           th:value="${ancien.getCourriel()}"
                                           type="checkbox"
                                           data-toggle="toggle"
                                           data-on="Sensei" data-off="Ancien"
                                           th:checked="${ancien.getRole().getIdRole() == 1}"
                                    onchange="toggle(this)">
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
-->
    </div>

    <br/>
    <br/>
    <a href="/" class="btn btn-primary " style="width: 100%">Retour au dojo</a>
    <br/>
    <br/>
</div>

</body>
</html>