<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="webjars/jquery/3.1.0/jquery.min.js"></script>
<script src="webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/kumiteCSS.css">
<script src="js/kumite.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Kumite</title>
</head>
<body>

<div class="container text-center" style="margin-bottom: 100px;">
    <br/>
    <div class="panel panel-default center-block" style="min-width: 650px;max-width: 800px">
        <div class="panel-heading">
            <a href="/" class="btn btn-primary pull-left" style="margin-top: 12px">Retour</a>
            <h3>Kumite</h3></div>
        <div class="panel-body " >
            <div class="pull-left text-left" style="margin-right: 35px;">
                <input id="nomUtil" type="hidden" th:value="${nomUtil}" >

                <img th:src="${avatar}" th:width="150px">
                <h4>Nom : <b><span th:text="${alias}"></span></b></h4>
                <h4>Rôle : <b><span th:text="${role}"></span></b></h4>
                <h4>Ceinture : <b><span th:text="${groupe}"></span></b></h4>
                <h4>Points : <b><span id="spPoints" th:text="${points}"></span><span id="plusPts" class="addedScore"> </span></b></h4>
                <h4>Crédits : <b><span id="spCredits" th:text="${credits}"></span><span id="plusCred" class="addedScore"> </span></b></h4>
            </div>
            <div>
                <span style='width: 100%;'>
                    <b style="font-size: 18px">Je veux être un ...</b>
                </span>
                <br/>
                <div id="groupLabels" class="btn-group btn-group-lg"  role="group" style="margin: 10px">
                    <label id="lblSpectateur" class="btn btn-primary btn-lg active" >Spectateur</label>
                    <label id="lblCombattant" class="btn btn-primary btn-lg">Combattant</label>
                    <label id="lblArbitre" class="btn btn-primary btn-lg">Arbitre</label>
                </div>
            </div>
            <div style="height: 50px"></div>
            <div>
                <span style='width: 100%;' >
                    <b style="font-size: 25px" id="spanInfo"></b>
                </span>
                <br/>
                <span style='width: 100%;' >
                    <b style="font-size: 25px" id="spanCount"></b>
                </span>
            </div>
            <div id="grpAttaque" class="btn-group btn-group-lg hidden"  role="group" style="margin: 10px">
                <span id="lblRoche" class="btn btn-primary btn-lg">Roche</span>
                <span id="lblPapier" class="btn btn-primary btn-lg">Papier</span>
                <span id="lblCiseaux" class="btn btn-primary btn-lg">Ciseaux</span>
            </div>
            <div id="grpArbitre" class="btn-group btn-group-lg hidden"  role="group" style="margin: 10px" >
            </div>
        </div>
    </div>
    <div class="center-block" style="min-width: 650px;max-width: 800px">
        <div class="pull-left" style="width: 30%;height:100%;margin:1.5%">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Spectateurs</h3></div>
                <div id="bodySpectateurs" class="panel-body" style="height:160px">

                </div>
            </div>
        </div>
        <div class="pull-left" style="width: 30%;margin:1.5%">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Combattants</h3></div>
                <div id="bodyCombattants" class="panel-body" style="height:160px">

                </div>
            </div>
        </div>
        <div class="pull-left" style="width: 30%;margin:1.5%">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Arbitres</h3></div>
                <div id="bodyArbitres" class="panel-body" style="height:160px">

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"> <h3> La surface de combat </h3></div>
            <div class="panel-body" style="height: 100px;">
                <img id="avatarGauche" src="images/noprofile.jpeg" class="pull-left" style="height: 75px;">
                <img id="gaucheAttaque" src="images/noprofile.jpeg" class="hidden pull-left flipped" style="height: 75px;">
                <img id="gaucheGagne" src="images/gauche.jpg" class="hidden" style="height: 75px;">
                <img id="avatarArbitre" src="images/noprofile.jpeg" class="" style="height: 75px;">
                <img id="droiteGagne" src="images/droite.jpg" class="hidden" style="height: 75px;">
                <img id="avatarDroite" src="images/noprofile.jpeg" class="pull-right" style="height: 75px;">
                <img id="droiteAttaque" src="images/noprofile.jpeg" class="hidden pull-right" style="height: 75px;">
            </div>
        </div>
        <h3 id="headerArbitre"></h3>
    </div>


</div>

</body>
</html>